<ESRI.Configuration xmlns="http://schemas.esri.com/Desktop/AddIns" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"><Name>Cell Size Calc</Name><AddInID>{85b64283-d7ec-45c9-8f2d-ba03b7667455}</AddInID><Description>Cell Size Calculator for raster imagery in ArcMap</Description><Version>1.0</Version><Image /><Author>Adam Marinelli</Author><Company>Esri Canada</Company><Date>12/02/2014</Date><Targets><Target name="Desktop" version="10.2" /></Targets><AddIn language="PYTHON" library="CellSize_addin.py" namespace="CellSize_addin"><ArcMap>
    <Commands>
        <Button caption="CSCalc" category="Cell Size Calc" class="CSCalc" id="CellSize_addin.button" image="Images\RasterImageAnalysisDisplayResampling16.png" message="Calculate Cell Size" tip="Calculate Cell Size"><Help heading="" /></Button>
        <Button caption="CSRemove" category="Cell Size Calc" class="CSRemove" id="CellSize_addin.button_1" image="Images\MapReferenceScaleClear16.png" message="Remove saved cell sizes in the drop-down list" tip="Remove saved items"><Help heading="" /></Button>
        <ComboBox caption="" category="Cell Size Calc" class="CSCombo" id="CellSize_addin.combobox" itemSizeString="WWWWWW" message="Cell Size Values" rows="4" sizeString="WWWWWW" tip="Cell Size Values"><Help heading="" /></ComboBox>
        </Commands>
    <Extensions>
        </Extensions>
    <Toolbars>
        <Toolbar caption="Cell Size" category="Cell Size Calc" id="CellSize_addin.toolbar" showInitially="true"><Items><Button refID="CellSize_addin.button" /><Button refID="CellSize_addin.button_1" /><ComboBox refID="CellSize_addin.combobox" /></Items></Toolbar>
        </Toolbars>
    <Menus>
        </Menus>
    </ArcMap></AddIn></ESRI.Configuration>